html, body {
  display: flex;
  background-color: #000;
  width: 100%;
  height: 100%;
  margin: auto;
}

.bottom-right {
  position: fixed;
  bottom: 1vh;
  right: 2vh;
}

.image-container {
  position: absolute;
  top: 2vh;
  left: 2vh;
  display: flex;
}

.container {
  width: 530vh; /* Increase width for larger squares */
  height: 230vh; /* Increase height for larger squares */
  overflow: hidden;
  margin-right: 2vh;
}

.missing-image {
  position: relative;
  width: 100%; /* Fill the container */
  height: 100%; /* Fill the container */
  border: 2px solid white; /* White border for the rectangle */
  background: none;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transform: translateY(65vh);
  animation: fadeInMoveUp 1s ease-in-out forwards;
}

.x-line {
  position: absolute;
  background-color: white;
  height: 4px; /* Thickness of the lines */
  width: 140%; /* Extend width for full coverage */
  transform-origin: center;
}

.x-line1 {
  transform: rotate(45deg); /* First diagonal line of the "X" */
}

.x-line2 {
  transform: rotate(-45deg); /* Second diagonal line of the "X" */
}

.image1 {
  animation-delay: 1s;
}

.image2 {
  animation-delay: 1.2s;
